.cardservice {
  background-color: $colfontsecondary;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  display: grid;
  box-sizing: border-box;
  box-shadow: 5px 5px 7px #eaeaea;
  margin: 1rem;
  &__img {
    display: inline-block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
  }
  &__para{
    padding: 1rem;
    margin: 0;
    text-align: center;
  }
}
