.insassignmenttabs {
  &__btn {
    border: 1px solid $colmainbtn !important;
    color: $colmainbtn !important;
    &:hover {
      background-color: $colmainbtn !important;
      color: $colfontsecondary !important;
    }
    &__link {
      text-decoration: none;
      color: $colmainbtn;
      &:hover {
        text-decoration: none;
        color: $colmainbtn;
        color: $colfontsecondary;
      }
    }
  }
}
