.totop{
    background-color: $colmainbtn;
    color: $colfontsecondary;
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    padding: .5rem;
    margin: .5rem;
    border-radius: 20px;
    &:hover{
        cursor: pointer;
        transform: translateY(-10px);
        transition: 200ms linear all;
    }
    &__arrow{
        font-size: 2rem;
    }
}