.dashboard{
    &__row{
        justify-content: space-evenly;
        padding-top: 1rem;
    }
    &__sidenav{
        background-color: $colfontsecondary;
        border-radius: 1.5rem;
        min-height: 85vh;
        padding: 2rem 0rem;
    }
    &__content{
        min-height: 85vh;
    }
}