.navBar {
  background-color: transparent;
  &__image {
    width: 50px;
    height: 40px;
    &__user {
      width: 40px;
      height: 40px;
      display: inline-block;
      border-radius: 50%;
    }
  }
  &__span {
    position: "fixed";
    top: "6px";
    left: "5px";
    color: $colfontmain;
  }
  &__list {
    margin: 0 auto;
    &__item {
      &__link {
        color: $colfontmain !important;
        font-family: sans-serif;
        &:hover{
          color: $colmain !important;
        }
        &--active {
          color: $colfontmain;
        }
      }
    }
  }
}


.navbar-toggler-icon{
  width: fit-content !important;
  height: fit-content !important;
  color: $colmainbtn;
}
.navbar-toggler:focus{
  box-shadow: 0 0 0 0.1rem $colmainbtn !important;
}